<div class="card m-auto  mx-auto" style="max-width: 500px;">
    <div class="card-header text-center">
      <h1>Login</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="form" >
        <div class="mb-3">
          <label for="usuario">Usuário</label>
          <input type="text" class="form-control" id="usuario" formControlName="user" />
          <div *ngIf="checkInput('user', 'required')" class="text-red-700">Usuário é obrigatório</div>

        </div>
        <div class="mb-3">
          <label for="senha">Senha</label>
          <input type="password" class="form-control" id="senha" formControlName="pass" />
          <div *ngIf="checkInput('pass', 'required')" class="text-red-700">Senha é obrigatória</div>

        </div>
        <button (click)="login()" type="submit" class="btn btn-primary w-100">Entrar</button>
      </form>
    </div>
  </div>