<div class=" bg-black    ">
    <div
        class="w-full h-[100vh] bg-[url(assets/bg-login-mobile.jpg)] bg-black bg-no-repeat bg-center flex justify-center items-center">
        <div class="flex flex-col items-center  justify-center ">

            <div class="bg-white shadow-md p-8 w-[75vw] md:w-[400px] rounded-md">
                <h1 class="texto-bungee text-orange-500 text-center text-sm mb-8" style="font-size: 50px;">LOGIN </h1>
                <div class="flex flex-col mb-8" [formGroup]="form">
                    <div class="texto-bungee  text-sm" style="font-size: 20px;">USUÁRIO</div>
                    <input formControlName="user" type="text" placeholder="Usuário"
                        class="border-zinc-950 border-b-2 py-2 rounded-md px-2" />
                    <div *ngIf="checkInput('user', 'required')" class="text-red-700">Usuário é obrigatório</div>
                    <div class="texto-bungee mt-4" style="font-size: 20px;">SENHA</div>
                    <input formControlName="pass" placeholder="******" type="text"
                        class="border-zinc-950 border-b-2 py-2 rounded-md px-2" />
                    <div *ngIf="checkInput('pass', 'required')" class="text-red-700">Senha é obrigatória</div>
                </div>
                <button (click)="login()"
                    class="texto-bungee w-full text-orange-500 bg-black hover:bg-gray-800 hover:text-orange-400 rounded-md"
                    style="font-size: 28px;">ENTRAR</button>
            </div>

        </div>
    </div>
</div>