<nav class="navbar navbar-light fixed-top w-100 bg-light d-flex justify-content-center items-center">
    <p class="text-secondary my-0 mx-3">
        TOTAL SCORE: {{score}}
            </p>
</nav>
<div class="d-flex flex-column justify-content-center align-items-center" style="margin-top: 40px;">
    <nav class="navbar page navbar-light bg-light d-flex justify-content-center">
        <form class="d-flex justify-content-between w-100 mx-4 ">
            <div class="input-group w-50">
                <input class="form-control" placeholder="dd/mm/yyyy" name="d2" #c2="ngModel" [(ngModel)]="model2"
                    ngbDatepicker #d2="ngbDatepicker" />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()" type="button"></button>
            </div>
            <div class="w-25">
            </div>
            <select [formControl]="formTeam" class="form-select w-50" placeholder="oioi" aria-label="Default select example">
                <option *ngFor="let team of teams" [value]="team.id">{{team.name}}</option>
            </select>
        </form>
    </nav>
    <div class="bg-white shadow rounded p-2 page ">
        <h3 class="text-orange-400 text-center ">Pontuação Autônomo</h3>
        <div class="text-muted text-center font-weight-bold mb-1">Marcação dos pixels</div>
        <div [formGroup]="form" class="row g-2 md:mx-5 p-0 m-0 md:px-5 mt-2 d-flex">
            <div class="d-flex justify-content-between">
                <div class="md:w-25 my-auto mx-1">
                    TEAM PROP:
                </div>
                <div class="w-50 d-flex">
                    <input type="radio" class="btn-check" (click)="setFormValue('teamProp', 0)" name="team-prop" id="teamProp" autocomplete="off" checked>
                    <label class="btn btn-outline-primary rounded-0 w-75" for="teamProp">White pixel</label>

                    <input type="radio" class="btn-check" (click)="setFormValue('teamProp', 10)" name="team-prop" id="whitePixel" autocomplete="off">
                    <label class="btn btn-outline-primary rounded-0 w-75" for="whitePixel">Team Prop</label>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class=" my-auto mx-1 md:w-25">
                    PURPLE PIXEL:
                </div>
                <div class="w-50 d-flex">
                    <input type="radio" class="btn-check" (click)="setFormValue('purplePixel', 0)" name="purplePixel" id="success-outlined"
                        autocomplete="off" checked>
                    <label class="btn btn-outline-primary rounded-0 w-75" for="success-outlined">No</label>

                    <input type="radio" class="btn-check" (click)="setFormValue('purplePixel', 10)" name="purplePixel" id="danger-outlined"
                        autocomplete="off">
                    <label class="btn btn-outline-primary rounded-0 w-75" for="danger-outlined">Spike Mark</label>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class=" my-auto mx-1 md:w-25">
                    YELLOW PIXEL:
                </div>
                <div class="w-50 d-flex">
                    <input type="radio" class="btn-check"  (click)="setFormValue('yellowPixel', 0)" name="options-outlined-3" id="success-outlined-3"
                        autocomplete="off" checked>
                    <label class="btn btn-outline-primary rounded-0 w-75" for="success-outlined-3">No</label>

                    <input type="radio" class="btn-check" name="options-outlined-3"  (click)="setFormValue('yellowPixel', 10)" id="danger-outlined-3"
                        autocomplete="off">
                    <label class="btn btn-outline-primary rounded-0 w-75" for="danger-outlined-3">Backdrop</label>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class=" my-auto mx-1 md:w-25">
                    BACKSTAGE PIXEL:
                </div>
                <div class="btn-group w-50 " role="group" aria-label="Basic example">
                    <button type="button" (click)="decrease('form', 'backstagePixel')"
                        class="btn btn-primary btn-sm">-</button>
                    <input formControlName="backstagePixel" type="number" class="form-control rounded-0 w-50 text-center"
                        value="0" min="0" max="4">
                    <button (click)="increase('form', 'backstagePixel')" type="button"
                        class="btn btn-primary btn-sm">+</button>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class=" my-auto mx-1 md:w-25">
                    BACKDROP PIXEL:
                </div>
                <div class="btn-group w-50 " role="group" aria-label="Basic example">
                    <button type="button" (click)="decrease('form', 'backsdropPixel')"
                        class="btn btn-primary btn-sm">-</button>
                    <input formControlName="backsdropPixel" type="number" class="form-control rounded-0 w-50 text-center"
                        value="0" min="0" max="4">
                    <button (click)="increase('form', 'backsdropPixel')" type="button"
                        class="btn btn-primary btn-sm">+</button>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class=" my-auto mx-1 md:w-25">
                    NAVIGATED:
                </div>
                <div class="w-50 d-flex">
                    <input type="radio" class="btn-check" (click)="setFormValue('navigated', 0)" name="options-outlined-4" id="success-outlined-4"
                        autocomplete="off" checked>
                    <label class="btn btn-outline-primary rounded-0 w-75" for="success-outlined-4">No</label>

                    <input type="radio" class="btn-check" (click)="setFormValue('navigated', 5)" name="options-outlined-4" id="danger-outlined-4"
                        autocomplete="off">
                    <label class="btn btn-outline-primary rounded-0 w-75" for="danger-outlined-4">Backdrop</label>
                </div>
            </div>

            <h3 class="text-orange-400 text-center mt-4">Pontuação Teleoperado</h3>
            <div class="text-muted text-center font-weight-bold mb-1">Marcação dos pixels</div>
            <div [formGroup]="form2" class="row g-2 md:mx-5 md:px-5 mt-2 ">
                <div class="d-flex justify-content-between">
                    <div class=" my-auto mx-1 md:w-25">
                        BACKSTAGE PIXEL:
                    </div>
                    <div class="btn-group w-50 " role="group" aria-label="Basic example">
                        <button type="button" (click)="decrease('form2', 'backstagePixel')"
                            class="btn btn-primary btn-sm">-</button>
                        <input formControlName="backstagePixel" type="number" class="form-control rounded-0 w-50 text-center"
                            value="0" min="0" max="4">
                        <button (click)="increase('form2', 'backstagePixel')" type="button"
                            class="btn btn-primary btn-sm">+</button>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class=" my-auto mx-1 md:w-25">
                        BACKDROP PIXEL:
                    </div>
                    <div class="btn-group w-50 " role="group" aria-label="Basic example">
                        <button type="button" (click)="decrease('form2', 'backsdropPixel')"
                            class="btn btn-primary btn-sm">-</button>
                        <input formControlName="backsdropPixel" type="number" class="form-control rounded-0 w-50 text-center"
                            value="0" min="0" max="4">
                        <button (click)="increase('form2', 'backsdropPixel')" type="button"
                            class="btn btn-primary btn-sm">+</button>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class=" my-auto mx-1 md:w-25">
                        MOSAICS:
                    </div>
                    <div class="btn-group w-50 " role="group" aria-label="Basic example">
                        <button type="button" (click)="decrease('form2', 'mosaics')"
                            class="btn btn-primary btn-sm">-</button>
                        <input formControlName="mosaics" type="number" class="form-control rounded-0 w-50 text-center"
                            value="0" min="0" max="4">
                        <button (click)="increase('form2', 'mosaics')" type="button"
                            class="btn btn-primary btn-sm">+</button>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class=" my-auto mx-1 md:md:w-25 text-uppercase">
                        Highest Set Line:
                    </div>
                    <div class="btn-group w-50 " role="group" aria-label="Basic example">
                        <button type="button" (click)="decrease('form2', 'highestSetLine')"
                            class="btn btn-primary btn-sm">-</button>
                        <input formControlName="highestSetLine" type="number" class="form-control rounded-0 w-50 text-center"
                            value="0" min="0" max="4">
                        <button (click)="increase('form2', 'highestSetLine')" type="button"
                            class="btn btn-primary btn-sm">+</button>
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <div class=" my-auto mx-1 md:w-25">
                        DRONE ZONE:
                    </div>
                    <div class="w-50 d-flex">
                        <input type="radio" class="btn-check" (click)="setForm2Value('droneZone', 0)" name="drone" id="drone-no"
                            autocomplete="off" checked>
                        <label class="btn btn-outline-primary rounded-0 w-75" for="drone-no">No</label>

                        <input type="radio" class="btn-check" (click)="setForm2Value('droneZone', 30)" name="drone" id="drone-1"
                            autocomplete="off">
                        <label class="btn btn-outline-primary rounded-0 w-75" for="drone-1">1</label>

                        <input type="radio" class="btn-check" (click)="setForm2Value('droneZone', 20)" name="drone" id="drone-2"
                            autocomplete="off">
                        <label class="btn btn-outline-primary rounded-0 w-75" for="drone-2">2</label>

                        <input type="radio" class="btn-check" (click)="setForm2Value('droneZone', 10)" name="drone" id="drone-3"
                            autocomplete="off">
                        <label class="btn btn-outline-primary rounded-0 w-75" for="drone-3">3</label>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class=" my-auto mx-1 md:w-25">
                        LOCATION:
                    </div>
                    <div class="w-50 d-flex">
                        <input type="radio" class="btn-check" (click)="setForm2Value('location', 0)" name="location" id="location-no"
                            autocomplete="off" checked>
                        <label class="btn btn-outline-primary rounded-0 w-75" for="location-no">No</label>

                        <input type="radio" class="btn-check" (click)="setForm2Value('location', 5)" name="location" id="location-backstage"
                            autocomplete="off">
                        <label class="btn btn-outline-primary rounded-0 w-75" for="location-backstage">Backstage</label>

                        <input type="radio" class="btn-check"  (click)="setForm2Value('location', 20)" name="location" id="location-rigging"
                            autocomplete="off">
                        <label class="btn btn-outline-primary rounded-0 w-75" for="location-rigging">Rigging</label>
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <div class=" my-auto mx-1 md:md:w-25 text-uppercase">
                        MAJOR PENALTIES:
                    </div>
                    <div class="btn-group w-50 " role="group" aria-label="Basic example">
                        <button type="button" (click)="decrease('form2', 'majorPenalities')"
                            class="btn btn-primary btn-sm">-</button>
                        <input formControlName="majorPenalities" formControlName="majorPenalities" type="number" class="form-control rounded-0 w-50 text-center"
                            value="0" min="0" max="4">
                        <button (click)="increase('form2', 'majorPenalities')" type="button"
                            class="btn btn-primary btn-sm">+</button>
                    </div>
                </div>

                <div class="d-flex justify-content-between">
                    <div class=" my-auto mx-1 md:md:w-25 text-uppercase">
                        MINOR PENALTIES:
                    </div>
                    <div class="btn-group w-50 " role="group" aria-label="Basic example">
                        <button type="button" (click)="decrease('form2', 'minorPenalities')"
                            class="btn btn-primary btn-sm">-</button>
                        <input formControlName="minorPenalities" type="number" class="form-control rounded-0 w-50 text-center"
                            value="0" min="0" max="4">
                        <button (click)="increase('form2', 'minorPenalities')" type="button"
                            class="btn btn-primary btn-sm">+</button>
                    </div>
                </div>
            </div>
            <div class="d-flex  justify-content-center mt-4">

                <button (click)="post()" class="btn  btn-primary rounded-sm rounded-0  p-0 w-75  btn-sm">
                    <h3 class="text-white text-center">Salvar</h3>
                </button>
            </div>
        </div>
    </div>

    <nav class="navbar w-100 navbar-light mt-4 bg-light d-flex justify-content-center items-center">
        <p class="text-secondary my-0 mx-3">
            Powered by
                </p>
        <img src="assets/logo-calara.webp" style="width: 120px;" alt="">
    </nav>
</div>