<div class="d-flex flex-column justify-content-start align-items-start h-100">
    <nav class="navbar w-100 navbar-light bg-light d-flex justify-content-center">
        <form class="d-flex justify-content-between w-75 ">
            <div class="input-group w-50">
              <input
                class="form-control"
                placeholder="dd/mm/yyyy"
                name="d2"
                #c2="ngModel"
                [(ngModel)]="model2"
                ngbDatepicker
                #d2="ngbDatepicker"
              />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d2.toggle()" type="button"></button>
            </div>
          <div class="w-25">

          </div>
            <select class="form-select w-50" aria-label="Default select example">
              <option selected disabled>Selecione o Time</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </form>
  </nav>
    <div class="bg-white shadow rounded p-2 w-100 md:w-400">
        <h3 class="text-orange-400 text-center ">Pontuação Autônomo</h3>
        <div class="text-muted text-center font-weight-bold mb-1">Marcação dos pixels</div>
        <div [formGroup]="form" class="row g-2 md:mx-5 md:px-5 mt-2 ">
            <div class="col-6 d-flex justify-content-center">
                <div>
                    <p class="text-center">Amarelo:</p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" (click)="decrease('form', 'amarelo')"  class="btn btn-white btn-sm">-</button>
                        <input formControlName="amarelo" type="number" class="form-control rounded-pill" value="0"
                            min="0" max="4">
                        <button (click)="increase('form', 'amarelo')" type="button" class="btn btn-white btn-sm">+</button>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <div>
                    <p class="text-center">Roxo?</p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button  (click)="decrease('form', 'roxo')" type="button" class="btn btn-white btn-sm">-</button>
                        <input formControlName="roxo" type="number" class="form-control rounded-pill" value="0" min="0"
                            max="4">
                        <button type="button" (click)="increase('form', 'roxo')"  class="btn btn-white btn-sm">+</button>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <div>
                    <p class="text-center">Personalizado:</p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" (click)="decrease('form', 'personalizado')" class="btn btn-white btn-sm">-</button>
                        <input formControlName="personalizado" type="number" class="form-control rounded-pill" value="0"
                            min="0" max="4">
                        <button (click)="increase('form', 'personalizado')" type="button" class="btn btn-white btn-sm">+</button>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <div>
                    <p class="text-center">Estacionou?</p>
                    <div class="btn-group">
                        <button type="button" (click)="decrease('form', 'estacionou')" class="btn btn-white btn-sm">-</button>
                        <input formControlName="estacionou" type="number" class="form-control rounded-pill" value="0"
                            min="0" max="4">
                        <button type="button"(click)="increase('form', 'estacionou')" class="btn btn-white btn-sm">+</button>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="text-orange-400 text-center mt-4">Pontuação Teleoperado</h3>
        <div class="text-muted text-center font-weight-bold mb-1">Marcação dos pixels</div>
        <div [formGroup]="form2" class="row g-2 md:mx-5 md:px-5 mt-2 ">
            <div class="col-6 d-flex justify-content-center">
                <div>
                    <p class="text-center">Amarelo:</p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" (click)="decrease('form2', 'amarelo')"  class="btn btn-white btn-sm">-</button>
                        <input formControlName="amarelo" type="number" class="form-control rounded-pill" value="0"
                            min="0" max="4">
                        <button (click)="increase('form2', 'amarelo')" type="button" class="btn btn-white btn-sm">+</button>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <div>
                    <p class="text-center">Roxo?</p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button  (click)="decrease('form2', 'roxo')" type="button" class="btn btn-white btn-sm">-</button>
                        <input formControlName="roxo" type="number" class="form-control rounded-pill" value="0" min="0"
                            max="4">
                        <button type="button" (click)="increase('form2', 'roxo')"  class="btn btn-white btn-sm">+</button>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <div>
                    <p class="text-center">Personalizado:</p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" (click)="decrease('form2', 'personalizado')" class="btn btn-white btn-sm">-</button>
                        <input formControlName="personalizado" type="number" class="form-control rounded-pill" value="0"
                            min="0" max="4">
                        <button (click)="increase('form2', 'personalizado')" type="button" class="btn btn-white btn-sm">+</button>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <div>
                    <p class="text-center">Estacionou?</p>
                    <div class="btn-group">
                        <button type="button" (click)="decrease('form2', 'estacionou')" class="btn btn-white btn-sm">-</button>
                        <input formControlName="estacionou" type="number" class="form-control rounded-pill" value="0"
                            min="0" max="4">
                        <button type="button"(click)="increase('form2', 'estacionou')" class="btn btn-white btn-sm">+</button>
                    </div>
                </div>
            </div>
        </div>
        <button (click)="post()" class="btn btn-primary rounded-sm tn-lg rounded-pill mt-4 p-0 w-100">
            <h1 class="text-white text-center">Salvar</h1>
        </button>
    </div>
</div>